body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fcfcfc; /* Change the background color as needed */
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    width: 400px;
    padding: 30px;
    border-radius: 12px;
    background-color: #d1c3c3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-control {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .btn-primary {
    width: 100%;
  }
  
  .alert {
    margin-top: 20px;
  }
  