
/* Hero Section */
.hero-section {
    padding: 80px 0;
    background-color: #f8f9fa;
    text-align: center;
  }
  
  .hero-content {
    color: #343a40;
  }
  
  .welcome-message {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .subtext {
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 30px;
  }
  
  /* Features Section */
  .features-section {
    padding: 80px 0;
    background-color: #ffffff;
  }
  
  .features-content {
    text-align: center;
  }
  
  .features-content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .features-content ul {
    list-style: none;
    padding: 0;
  }
  
  .features-content li {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  /* Call-to-Action Section */
  .call-to-action {
    padding: 80px 0;
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
  }
  
  .cta-content {
    margin-bottom: 30px;
  }
  
  .cta-content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .cta-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  /* Button Styles */
  .btn-primary {
    background-color: #0056b3;
    border-color: #0056b3;
    width: 0px; 
    height: 50px; 
    font-size: 1.2rem;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .btn-primary:hover {
    background-color: #004080;
    border-color: #004080;
  }
  
  .login-text a {
    color: white; /* Dark grey color */
    font-size: 0.9rem;
  }

  .btn-grey {
    background-color: #777; /* Grey color */
    border-color: #777;
    width: 0px;
    height: 50px;
    font-size: 1.2rem;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .btn-grey:hover {
    background-color: #555; /* Darker grey on hover */
    border-color: #555;
  }
  
  